Repository WSU-4110/LAN-Party-App, pull requests merged in 2020-11, with the labels that each got.

#52 Logan
  backend/.gitignore
  backend/handlers/account.js
  backend/handlers/friend.js
  backend/handlers/party.js
  backend/serverless.yml
  backend/services/AccountAPI.js
  backend/services/FriendAPI.js
  backend/services/PartyAPI.js
  backend/utilities/image.js
Labels: User: Update, backend, enhancement, feature, functional

#55 Jarred wip
  backend/handlers/account.js
  backend/serverless.yml
  backend/services/AccountAPI.js
Labels: backend, feature, functional

#58 Jarreds branch
  backend/handlers/party.js
Labels: Party: Update, backend, feature, functional

#76 PR: Party Refactor, Request location change, Invite friend
  backend/handlers/party.js
Labels: PR, Party: Create, Party: Update, backend, feature

#81 MPR: Completed Party Refactor, Remove Friends, Remove Friend requests.
  backend/handlers/account.js
  backend/handlers/party.js
  backend/utilities/PartyCheck.js
  backend/utilities/generalUtils.js
Labels: PR, User: Update, backend

#75 MPR user-nav-button and login alert
  frontend/src/components/Home/Home.js
  frontend/src/components/Navigation/Navigation.css
  frontend/src/components/Navigation/Navigation.js
  frontend/src/components/Register/Login.js
  frontend/src/components/User/User.js
  frontend/src/components/ViewParty/ViewParty.js
Labels: PR

#82 MPR that takes care of FRs 9, 24 and 25
  frontend/ViewModel/HostParty.js
  frontend/src/components/Home/Home.js
  frontend/src/components/Register/Signup.js
  frontend/src/components/SearchUser/SearchUser.js
  frontend/src/components/User/User.js
  frontend/src/components/ViewParty/ViewParty.js
Labels: frontend, functional

#85 MPR Thadd-wip into Beta
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/GoogleMap/GoogleMap.js
  frontend/src/components/Home/Home.js
  frontend/src/components/HostParty/HostParty.css
  frontend/src/components/HostParty/HostParty.js
  frontend/src/components/Register/Register.css
  frontend/src/components/ViewParty/ViewParty.js
  frontend/yarn.lock
Labels: PR

#88 PR: reports & games
  backend/handlers/account.js
  backend/handlers/game.js
  backend/handlers/images.js
  backend/handlers/report.js
  backend/serverless.yml
  backend/services/AccountAPI.js
  backend/services/GameAPI.js
  backend/services/ReportAPI.js
Labels: PR, User: Update, backend, feature, functional

#87 {james wip}
  backend/handlers/account.js
  frontend/src/components/SearchUser/SearchUser.css
  frontend/src/components/SearchUser/SearchUser.js
Labels: feature, frontend, functional

#90 MPR thadd-wip to beta
  frontend/package.json
  frontend/src/components/Home/Home.js
  frontend/src/components/InviteFriendModal/InviteFriendModal.js
  frontend/src/components/ViewParty/ViewParty.js
  frontend/yarn.lock
Labels: feature, frontend, functional

#91 MPR request location change finish
  frontend/ViewModel/HostParty.js
  frontend/src/components/GooglePlacesSearch/GooglePlacesSearch.css
  frontend/src/components/GooglePlacesSearch/GooglePlacesSearch.js
  frontend/src/components/HostParty/HostParty.css
  frontend/src/components/HostParty/HostParty.js
  frontend/src/components/InviteFriendModal/InviteFriendModal.js
  frontend/src/components/ViewParty/NewLocationModal.css
  frontend/src/components/ViewParty/NewLocationModal.js
  frontend/src/components/ViewParty/ViewParty.js
Labels: feature, frontend, functional
