Repository WSU-4110/LAN-Party-App, pull requests merged in 2020-12, with the labels that each got.

#92 fixes functionality of editAbout, changes how user info is displayed and other various fixes
  frontend/src/components/Register/Signup.js
  frontend/src/components/SearchUser/SearchUser.js
  frontend/src/components/User/User.js
Labels: frontend, functional

#93 MPR thadd-wip to beta bug fixes
  frontend/src/components/Home/Home.js
  frontend/src/components/HostParty/HostParty.js
  frontend/src/components/User/User.css
  frontend/src/components/User/User.js
  frontend/yarn.lock
Labels: feature, frontend, functional

#96 {james wip}
  frontend/src/components/SearchUser/SearchUser.js
  frontend/src/components/SearchUser/UserSnippet.js
Labels: feature, frontend, functional

#95 MPR: Corrected button logic, dotenv, Mutual update, friends array
  backend/handlers/account.js
  backend/package.json
  backend/services/AccountAPI.js
  backend/utilities/PartyUtils.js
  backend/utilities/friendUtils.js
  backend/utilities/generalUtils.js
  backend/utilities/image.js
  frontend/src/components/SearchUser/SearchUser.js
  frontend/src/components/SearchUser/UserSnippet.js
  frontend/yarn.lock
Labels: backend, bug, feature

#97 Added frontend functionality to the FR 10 (report user) and closes it
  frontend/src/components/SearchUser/UserSnippet.js
Labels: frontend, functional

#99 Jarreds branch
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/GoogleMap/GoogleMap.js
  frontend/src/components/GoogleMap/googleMap.css
  frontend/src/components/Home/Home.css
  frontend/src/components/Home/Home.js
  frontend/src/components/Navigation/Navigation.css
  frontend/src/components/Navigation/Navigation.js
  frontend/src/components/Navigation/imgs/onlyLansLogo.png
  frontend/src/components/Register/Register.css
  frontend/src/components/SearchUser/SearchUser.js
  frontend/src/components/SearchUser/UserSnippet.js
  frontend/src/components/User/User.css
  frontend/src/components/User/User.js
Labels: feature, frontend

#100 MPR CSS Navbar fixes on top of Jarred's changes
  frontend/src/components/Navigation/Navigation.css
  frontend/src/components/Navigation/Navigation.js
Labels: PR, enhancement

#101 friend list and pending list (visible)
  frontend/src/ShallowEqual.js
  frontend/src/components/User/User.css
  frontend/src/components/User/User.js
Labels: enhancement, feature, frontend, functional
