Repository WSU-4110/LAN-Party-App, pull requests merged in 2020-10, with the labels that each got.

#32 Logan
  backend/README.md
  backend/handlers/account.js
  backend/package-lock.json
  backend/serverless.yml
  backend/services/AccountAPI.js
Labels: enhancement, feature, non-functional

#45 update account endpoint: username, password, and email all can be upd…
  backend/handlers/account.js
  backend/serverless.yml
  backend/services/AccountAPI.js
Labels: User: Update, feature, functional

#46 Beta
  backend/handlers/party.js
  backend/services/AccountAPI.js
  backend/services/PartyAPI.js
Labels: Party: GetAll, feature

#49 Beta
  backend/handlers/images.js
  backend/handlers/party.js
  backend/serverless.yml
  backend/utilities/nameCheck.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Home/Home.js
  frontend/src/components/PartySearch/PartySearch.css
  frontend/src/components/PartySearch/PartySearch.js
  frontend/src/components/Register/Login.js
  frontend/src/components/ViewParty/ViewParty.js
  frontend/yarn.lock
Labels: Party: Update, backend, feature, functional
